<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net452" />
  <package id="CacheManager.Core" version="0.6.0" targetFramework="net452" />
  <package id="CacheManager.SystemRuntimeCaching" version="0.6.0" targetFramework="net452" />
  <package id="HBD.Framework" version="1.0.0-beta08" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
</packages>